- name: create download directory
  ansible.builtin.file:
    path: "{{ work_dir | default(playbook_dir + '/tmp') }}"
    state: directory
  delegate_to: localhost

- name: download package
  ansible.builtin.get_url:
    url: https://github.com/containerd/nerdctl/releases/download/v1.1.0/nerdctl-1.1.0-linux-amd64.tar.gz
    dest: "{{ work_dir | default(playbook_dir + '/tmp') }}/nerdctl-1.1.0-linux-amd64.tar.gz"
    checksum: sha256:fcfd36b0b9441541aab0793c0f586599e6d774781c74f16468a3300026120c0e
  delegate_to: localhost
  run_once: true

- name: unarchive package
  ansible.builtin.unarchive:
    src: "{{ work_dir | default(playbook_dir + '/tmp') }}/nerdctl-1.1.0-linux-amd64.tar.gz"
    dest: /usr/local/bin/
    owner: root
    group: root
    mode: 0755
  become: true
