[Unit]
Description=dockerd
After=network.target

[Service]
Type=simple
Restart=always
ExecStart={{ docker.bin_dir }}/dockerd --config-file={{ docker.config_dir }}/daemon.json
User={{ docker.user }}

[Install]
WantedBy=multi-user.target
