[supervisorctl]
username=root
serverurl=unix:///run/supervisor.sock

[program:grafana]
command=/srv/grafana/bin/grafana-server -config '/srv/grafana/conf/grafana.ini'
user=grafana
directory=/srv/grafana
stdout_logfile=/srv/grafana/logs/grafana.log
