- name: create group {{ grafana.group }}
  ansible.builtin.group:
    name: "{{ grafana.group }}"
    system: true
    state: present
  become: true

- name: create user {{ grafana.user }}
  ansible.builtin.user:
    name: "{{ grafana.user }}"
    group: "{{ grafana.group }}"
    shell: /usr/bin/nologin
    home: "{{ grafana.data_dir }}"
    create_home: false
    state: present
  become: true

- name: create directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    owner: "{{ grafana.user }}"
    group: "{{ grafana.group }}"
    mode: 0700
  with_items:
    - "{{ grafana.config_dir }}"
    - "{{ grafana.data_dir }}"
    - "{{ grafana.log_dir }}"
  become: true

- name: get grafana
  ansible.builtin.get_url:
    url: https://dl.grafana.com/oss/release/grafana-{{ grafana.version }}.linux-amd64.tar.gz
    dest: "/tmp/grafana-{{ grafana.version }}.linux-amd64.tar.gz"
    checksum: sha256:{{ grafana.checksum }}

- name: extract archive
  unarchive:
    src: "/tmp/grafana-{{ grafana.version }}.linux-amd64.tar.gz"
    dest: "/tmp"
    list_files: true
    remote_src: true

- name: copy binaries
  ansible.builtin.copy:
    src: "/tmp/grafana-{{ grafana.version }}/bin/{{ item }}"
    dest: "{{ grafana.bin_dir }}"
    owner: root
    group: root
    mode: 0755
    remote_src: true
  with_items:
    - grafana-server
    - grafana-cli
  become: true
  notify: restart grafana

- name: copy conf
  ansible.builtin.copy:
    src: "/tmp/grafana-{{ grafana.version }}/conf/provisioning"
    dest: "{{ grafana.config_dir }}"
    owner: "{{ grafana.user }}"
    group: "{{ grafana.group }}"
    mode: 0700
    remote_src: true
  become: true
  notify: restart grafana

- name: copy config.ini
  ansible.builtin.template:
    src: templates/config.ini
    dest: "{{ grafana.config_dir }}/config.ini"
    owner: "{{ grafana.user }}"
    group: "{{ grafana.group }}"
    mode: 0700
  become: true
  notify: restart grafana

- name: copy sources
  ansible.builtin.copy:
    src: "/tmp/grafana-{{ grafana.version }}/{{ item }}"
    dest: "{{ grafana.data_dir }}"
    owner: "{{ grafana.user }}"
    group: "{{ grafana.group }}"
    mode: 0700
    remote_src: true
  with_items:
    - conf
    - plugins-bundled
    - public
  become: true
  notify: restart grafana

- name: copy service
  ansible.builtin.template:
    src: templates/grafana.service
    dest: /etc/systemd/system/grafana.service
    owner: root
    group: root
    mode: 0644
  become: true
  notify: restart grafana

- name: copy datasources
  ansible.builtin.template:
    src: templates/datasources/{{ item }}.yaml
    dest: "{{ grafana.config_dir }}/provisioning/datasources/{{ item }}.yaml"
    owner: "{{ grafana.user }}"
    group: "{{ grafana.group }}"
    mode: 0600
  with_items:
    - loki
  become: true
  notify: restart grafana

- name: configure prometheus datasources
  include_tasks: prom.yml
  when: groups['prometheus'] is defined and groups['prometheus'] | length > 0

- name: start service
  ansible.builtin.systemd:
    name: grafana
    state: started
    enabled: true
    daemon_reload: true
  become: true
